CitasBambuDC/Connected Services/BambuWS/WSDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cedula" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="primerNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="tns:SerializablePersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SerializablePersona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cedula" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimerNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegundoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EsAdmin" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearCitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearCitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCita" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarCitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BorrarCitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReservarCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cedulaCliente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCita" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReservarCitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReservarCitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CitasDeCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cedula" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CitasDeClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CitasDeClienteResult" type="tns:ArrayOfSerializableCita" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSerializableCita">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerializableCita" nillable="true" type="tns:SerializableCita" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SerializableCita">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CitasID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ClienteAsignado" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InfoPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cedula" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InfoPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoPersonaResult" type="tns:SerializablePersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="CrearCitaSoapIn">
    <wsdl:part name="parameters" element="tns:CrearCita" />
  </wsdl:message>
  <wsdl:message name="CrearCitaSoapOut">
    <wsdl:part name="parameters" element="tns:CrearCitaResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarCitaSoapIn">
    <wsdl:part name="parameters" element="tns:BorrarCita" />
  </wsdl:message>
  <wsdl:message name="BorrarCitaSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="ReservarCitaSoapIn">
    <wsdl:part name="parameters" element="tns:ReservarCita" />
  </wsdl:message>
  <wsdl:message name="ReservarCitaSoapOut">
    <wsdl:part name="parameters" element="tns:ReservarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="CitasDeClienteSoapIn">
    <wsdl:part name="parameters" element="tns:CitasDeCliente" />
  </wsdl:message>
  <wsdl:message name="CitasDeClienteSoapOut">
    <wsdl:part name="parameters" element="tns:CitasDeClienteResponse" />
  </wsdl:message>
  <wsdl:message name="InfoPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:InfoPersona" />
  </wsdl:message>
  <wsdl:message name="InfoPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:InfoPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDBSoap">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input message="tns:CrearUsuarioSoapIn" />
      <wsdl:output message="tns:CrearUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearCita">
      <wsdl:input message="tns:CrearCitaSoapIn" />
      <wsdl:output message="tns:CrearCitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrarCita">
      <wsdl:input message="tns:BorrarCitaSoapIn" />
      <wsdl:output message="tns:BorrarCitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReservarCita">
      <wsdl:input message="tns:ReservarCitaSoapIn" />
      <wsdl:output message="tns:ReservarCitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CitasDeCliente">
      <wsdl:input message="tns:CitasDeClienteSoapIn" />
      <wsdl:output message="tns:CitasDeClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InfoPersona">
      <wsdl:input message="tns:InfoPersonaSoapIn" />
      <wsdl:output message="tns:InfoPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDBSoap" type="tns:WSDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCita">
      <soap:operation soapAction="http://tempuri.org/CrearCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarCita">
      <soap:operation soapAction="http://tempuri.org/BorrarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservarCita">
      <soap:operation soapAction="http://tempuri.org/ReservarCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitasDeCliente">
      <soap:operation soapAction="http://tempuri.org/CitasDeCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoPersona">
      <soap:operation soapAction="http://tempuri.org/InfoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDBSoap12" type="tns:WSDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap12:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCita">
      <soap12:operation soapAction="http://tempuri.org/CrearCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarCita">
      <soap12:operation soapAction="http://tempuri.org/BorrarCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservarCita">
      <soap12:operation soapAction="http://tempuri.org/ReservarCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitasDeCliente">
      <soap12:operation soapAction="http://tempuri.org/CitasDeCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoPersona">
      <soap12:operation soapAction="http://tempuri.org/InfoPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDB">
    <wsdl:port name="WSDBSoap" binding="tns:WSDBSoap">
      <soap:address location="https://localhost:44341/WSDB.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDBSoap12" binding="tns:WSDBSoap12">
      <soap12:address location="https://localhost:44341/WSDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>